html{
  margin:0px;
  padding:0px;
}

body{
  font-family:'Open Sans';
  font-weight:300;
  font-size:18px;
  line-height:30px;
  margin:0px;
  padding:0px;
  color:#2c2c2c;
}

a {
  color:#cc0000;
  text-decoration: none;
 }

.sitebox a{
  color:#2c2c2c;
}

.center{
  text-align:center;
}
