@media (min-width: 1025px) {


.logo{
  width: 1200px;
  height: 100px;
  top: 15px;
  left:50%;
  margin-left:-600px;
  position: absolute;
}

.logo img{
  width:250px;
}

.headerimage{
  text-align:center;
}

.headerimage img{
  max-width:900px;
  padding-top:10px;
}

.smaller img{
  width:600px;
}

.headerbox{
  width:100%;
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
  background-image:url("/images/art copy.jpg");
}

.headerbox img{
  width:100px;
}

.headertext{
  width:600px;
  margin:auto;
  
}

.headertext a{
  color:white;
  font-weight:bold;
}

h1{
  font-size:45px;
  line-height:55px;
  font-weight:600;
  text-transform:uppercase;
}

h2{
  font-size:35px;
  line-height:40px;
  font-weight:400;
  font-family:"abel";
  text-transform:uppercase;
}

.greycontainer{
  width:100%;
}

.introtext{
  width:600px;
  margin:auto;
}

.introtext li{
  padding-top:10px;
  padding-bottom:10px;
}

.introtext img{
  width:100%;
}

.introtext video{
  width:100%;
}

.introtext iframe{
  margin-top:20px !important;
}

#textblock1{
  display:none;
}

.gridbox{
  width:1200px;
  margin:auto;
}

.sitebox{
  float:left;
  width:240px;
  height:300px;
  border-radius:2%;
  background-color:white;
  display:inline-block;
  margin-top:20px;
  margin-bottom:20px;
}

.sitebox .image{
  background-size:cover;
    width:240px;
  height:240px;
  background-position:center;
}

.sitebox:nth-child(4n+2){
  margin-left:80px;
  margin-right:40px;
}

.sitebox:nth-child(4n+3){
  margin-left:40px;
  margin-right:80px;
}


h3{
  text-align:center;
  text-transform:uppercase;
  font-family:"abel"
}

.sitebox p{
  width:90%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.sitebox img{
  width:100%;
}


/* artist page */

/*
.artisthero{
  width:800px;
  padding:20px;
  display:block;
  margin:auto;
}
*/

/* footer */

.homebutton{
  width:700px;
  margin:auto;
  font-size:12px;
  height:0px;
}

.homebutton a{
  color:black;
}

footer {
 width:100%;
 height:325px;
 margin-top:30px;
 background-color:black;
  clear:both;
}

.footercontainer{
 width:800px;
  margin:auto;
}

.footertext{
  width:500px;
  margin:auto;
  padding-top:40px;
  text-align:center;
  color:white;
}

.footerbox{
 width:400px;
  height:150px;
  color:white;
  float:left;
  padding-top:70px;
  text-align:center;
  position:relative;
}

.footerbox h2{
  font-size:20px;
  position:absolute;
  bottom:0px;
  width:100%;
  text-align:center;
}

.footerlogo {
 width:300px;
}





}
