<footer>
  
	<div class="footercontainer">
        <div class="footertext">Want to get in touch?
          <a href="mailto:erinfiercelycurious.com">erin@fiercelycurious.com</a>
      </div>
  <div class="footerbox">
    <a href="http://www.fiercelycurious.com"><img class="footerlogo" src="//cdn.shopify.com/s/files/1/0296/9253/t/12/assets/logowhite.png?11880984117798722211"></a>
    <h2>Original Art from Brooklyn Artists</h2>
  </div>
 
      
  <div class="footerbox">
    <a href="http://www.fiercelymade.com"><img class="footerlogo" src="//cdn.shopify.com/s/files/1/0296/9253/t/12/assets/FMlogowhite.png?11880984117798722211"></a>
    <h2>Handmade with heart in Brooklyn</h2>
  </div>



 
</div>
</footer>