<!--From head include-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Technology as Hands - a Fiercely Curious production</title>
    <meta name="description" content="An art and design show in Gowanus, Brooklyn - September 18th through 25th. A Fiercely Curious production">

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic|Abel' rel='stylesheet' type='text/css'>


<link href="/css/all.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link href="/css/mobile.css" rel="stylesheet">

<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<meta name="viewport" content="width=device-width">

<link rel="icon"  href="/images/reindeer.png">

<meta property="og:title" content="Technology as Hands - Sep 18th - 25th" />
<meta property="og:description" content="A pop-up art and design show in Gowanus, Brooklyn. September 18th - 25th. A Fiercely Curious production." />
<meta property="og:image" content="http://www.supportyourlocalmaker.com/images/fbimage.png" />
<meta property="og:url" content="http://www.technologyashands.com" />

</head>
<body>
