{% include head.html %}

<a href="/">
<div class="logo">
  <img src="//cdn.shopify.com/s/files/1/0296/9253/t/12/assets/logowhite.png?11880984117798722211"/>
</div>


  <div class="headerimage smaller">
    <img src="/images/glitch2.gif" />
  </div>
</a>

<h2 class="center">{{page.title}}</h2>

<div class="introtext">

<img class="artisthero" src="{{page.image}}"/>

  {{content}}

</div>

<h2 class="center"><a href="{{page.profileurl}}">See all work by {{page.title}}</a></h2>

{% include footer.html %}

{% include googleanalytics.html %}
