{% include head.html %}

<a href="/">

<div class="headerimage">
  <img src="/images/header.jpg" />
</div>

<div class="homebutton">
  <a href="/"><i class="fa fa-arrow-left"></i> return home</a>
  </div>

</a>

<h2 class="center">{{page.title}}</h2>

<div class="introtext">

<p><img class="artisthero" src="{{page.image}}"/></p>

  {{content}}

</div>

<h2 class="center"><a href="{{page.profileurl}}">See all work by {{page.title}}</a></h2>

{% include footer.html %}

{% include googleanalytics.html %}
